<div layout="row">
  <md-button class="md-raised hide-print" ng-click="relatorioDisponibilidadeVagasCtrl.modoImpressaoOuPesquisa()" flex="10">{{::'views.actions.back' | translate}}</md-button>
  <md-button class="md-primary md-raised hide-print" ng-click="relatorioDisponibilidadeVagasCtrl.imprimir()" flex="10">Imprimir</md-button>
</div>

<br>

<td md-cell colspan="2">
  <div layout="row" layout-align="center center">{{ ::'views.titles.relatorio-disponibilidade-vagas' | translate}}</div>
</td>


<md-table-container>
  <table md-table class="condensed">
    <thead md-head>
      <tr md-row>
        <th md-column>{{ ::'attributes.estabelecimentoSaude' | translate}}</th>
        <th md-column>{{ ::'attributes.curso' | translate}}</th>
        <th md-column>{{ ::'attributes.modalidade' | translate}}</th>
        <th md-column>{{ ::'attributes.setor' | translate}}</th>
        <th md-column>{{ ::'attributes.especialidade_id' | translate}}</th>
        <th md-column>{{ ::'attributes.especificacao_id' | translate}}</th>
        <th md-column>{{ ::'attributes.vagas' | translate}}</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row ng-repeat="resource in relatorioDisponibilidadeVagasCtrl.vagas" ng-if="relatorioDisponibilidadeVagasCtrl.resources.length > 0">
        <td md-cell>{{ ::resource.estabelecimento_saude.nome}}</td>
        <td md-cell>{{ ::resource.curso.nome}}</td>
        <td md-cell>{{ ::resource.modalidade.nome}}</td>
        <td md-cell>{{ ::resource.setor.nome}}</td>
        <td md-cell>{{ ::resource.especialidade.nome}}</td>
        <td md-cell>{{ ::resource.especificao.nome}}</td>
        <td md-cell>{{ ::resource.total_vagas_ano}}</td>
      </tr>
      <tr md-row ng-if="relatorioDisponibilidadeVagasCtrl.resources.length == 0">
        <td md-cell colspan="7">
          <div layout="row" layout-align="center center">{{::'messages.notFound' | translate}}</div>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>


