<box box-title="{{ ::'views.titles.relatorio-disponibilidade-vagas' | translate}}">
  <box-toolbar-buttons>
    <md-button class="md-icon-button" ng-click="$state.go('app.vagas');">
      <md-icon md-font-set="material-icons" class="mmd-warn">reply</md-icon>
      <md-tooltip md-direction="bottom">{{ ::'views.actions.back' | translate}}</md-tooltip>
    </md-button>
    <md-button class="md-icon-button" ng-click="relatorioDisponibilidadeVagasCtrl.modoImpressaoOuPesquisa()">
      <md-icon md-font-set="material-icons" class="mmd-warn">print</md-icon>
      <md-tooltip md-direction="bottom">{{ ::'views.actions.imprimir' | translate}}</md-tooltip>
    </md-button>
  </box-toolbar-buttons>
  <md-content layout-padding md-whiteframe="1" class="bottom-4">
    <form class="condensed" ng-submit="relatorioDisponibilidadeVagasCtrl.search(vm.paginator.currentPage)">
      <div layout="row">
        <md-input-container flex=40 flex-xs=75 class="top-20">
          <label>{{::'attributes.estabelecimentoSaude' | translate}}</label>
          <input type="text" ng-model="relatorioDisponibilidadeVagasCtrl.queryFilters.estabelecimentoSaude">
        </md-input-container>
        <md-input-container class="top-20" flex="20" flex-xs=75>
          <label>{{::'attributes.curso' | translate}}</label>
          <md-select placeholder="{{::'attributes.curso' | translate}}" ng-model="relatorioDisponibilidadeVagasCtrl.queryFilters.curso_id">
            <md-option ng-value="" ><em>Todos</em></md-option>
            <md-option ng-repeat="curso in relatorioDisponibilidadeVagasCtrl.cursos" ng-value="{{ curso.id }}">
              {{ curso.nome }}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="top-20" flex="20" flex-xs=75>
          <label>{{::'attributes.modalidade' | translate}}</label>
          <md-select placeholder="{{::'attributes.modalidade' | translate}}" ng-model="relatorioDisponibilidadeVagasCtrl.queryFilters.modalidade_id">
            <md-option ng-value="" ><em>Todos</em></md-option>
            <md-option ng-repeat="modalidade in relatorioDisponibilidadeVagasCtrl.modalidades" ng-value="{{ modalidade.id }}">
              {{ modalidade.nome }}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="top-20" flex="20" flex-xs=75>
          <label>{{::'attributes.setor' | translate}}</label>
          <md-select placeholder="{{::'attributes.setor' | translate}}" ng-model="relatorioDisponibilidadeVagasCtrl.queryFilters.setor_id">
            <md-option ng-value="" ><em>Todos</em></md-option>
            <md-option ng-repeat="setor in relatorioDisponibilidadeVagasCtrl.setores" ng-value="{{ setor.id }}">
              {{ setor.nome }}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container class="top-20" flex="20" flex-xs=75>
          <label>{{::'attributes.especialidade_id' | translate}}</label>
          <md-select placeholder="{{::'attributes.especialidade_id' | translate}}" ng-model="relatorioDisponibilidadeVagasCtrl.queryFilters.especialidade_id">
            <md-option ng-value="" ><em>Todos</em></md-option>
            <md-option ng-repeat="especialidade in relatorioDisponibilidadeVagasCtrl.especialidades" ng-value="{{ especialidade.id }}">
              {{ especialidade.nome }}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="top-20" flex="20" flex-xs=75>
          <label>{{::'attributes.especificacao_id' | translate}}</label>
          <md-select placeholder="{{::'attributes.especificacao_id' | translate}}" ng-model="relatorioDisponibilidadeVagasCtrl.queryFilters.especificacao_id">
            <md-option ng-value="" ><em>Todos</em></md-option>
            <md-option ng-repeat="especificacao in relatorioDisponibilidadeVagasCtrl.especificacoes" ng-value="{{ especificacao.id }}">
              {{ especificacao.nome }}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex=20 flex-xs=75 class="top-20">
          <label>{{ ::'attributes.data_inicio' | translate}}</label>
          <md-datepicker placeholder="{{::'attributes.data_inicio' | translate}}" ng-change="relatorioDisponibilidadeVagasCtrl.queryFilters.periodoInicialFormatado = relatorioDisponibilidadeVagasCtrl.formatDate(relatorioDisponibilidadeVagasCtrl.queryFilters.periodoInicial)" md-hide-icons="calendar" onkeydown="return false" md-open-on-focus  ng-model="relatorioDisponibilidadeVagasCtrl.queryFilters.periodoInicial" ></md-datepicker>
        </md-input-container>
        <md-input-container flex=20 flex-xs=75 class="top-20">
          <label>{{ ::'attributes.data_fim' | translate}}</label>
          <md-datepicker placeholder="{{::'attributes.data_fim' | translate}}" ng-change="relatorioDisponibilidadeVagasCtrl.queryFilters.periodoFinalFormatado = relatorioDisponibilidadeVagasCtrl.formatDate(relatorioDisponibilidadeVagasCtrl.queryFilters.periodoFinal)"  md-hide-icons="calendar" onkeydown="return false" md-open-on-focus  ng-model="relatorioDisponibilidadeVagasCtrl.queryFilters.periodoFinal" ></md-datepicker>
        </md-input-container>
        <md-button id="btn-relatorioDisponibilidadeVagasCtrl-filter" class="md-raised md-primary md-mini" ng-click="relatorioDisponibilidadeVagasCtrl.beforeSearch()" type="submit">
          {{::'views.actions.filter' | translate}}
        </md-button>
        <md-button class="md-raised md-mini" ng-click="relatorioDisponibilidadeVagasCtrl.limparFiltros()">
          {{::'views.actions.clear' | translate}}
        </md-button>
      </div>
    </form>
  </md-content>
  <md-table-container>
    <table md-table class="condensed">
      <thead md-head>
        <tr md-row>
          <th md-column>{{ ::'attributes.estabelecimentoSaude' | translate}}</th>
          <th md-column>{{ ::'attributes.curso' | translate}}</th>
          <th md-column>{{ ::'attributes.modalidade' | translate}}</th>
          <th md-column>{{ ::'attributes.setor' | translate}}</th>
          <th md-column>{{ ::'attributes.especialidade_id' | translate}}</th>
          <th md-column>{{ ::'attributes.especificacao_id' | translate}}</th>
          <th md-column>{{ ::'attributes.vagas' | translate}}</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="resource in relatorioDisponibilidadeVagasCtrl.resources" ng-if="relatorioDisponibilidadeVagasCtrl.resources.length > 0">
          <td md-cell>{{ ::resource.estabelecimento_saude.nome}}</td>
          <td md-cell>{{ ::resource.curso.nome}}</td>
          <td md-cell>{{ ::resource.modalidade.nome}}</td>
          <td md-cell>{{ ::resource.setor.nome}}</td>
          <td md-cell>{{ ::resource.especialidades.nome}}</td>
          <td md-cell>{{ ::resource.especificacoes.nome}}</td>
          <td md-cell>{{ ::resource.total_vagas_ano}}</td>
        </tr>
        <tr md-row ng-if="relatorioDisponibilidadeVagasCtrl.resources.length == 0">
          <td md-cell colspan="7">
            <div layout="row" layout-align="center center">{{::'messages.notFound' | translate}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-card-actions layout="row" layout-align="end center">
    <pr-pagination paginator="relatorioDisponibilidadeVagasCtrl.paginator"></pr-pagination>
  </md-card-actions>
</box>
