<box box-title="{{ ::'views.actions.tasksList' | translate}}">
	<box-toolbar-buttons>
		<md-button ng-disabled="tasksCtrl.resources[0].project.done" class="md-icon-button" ng-click="tasksCtrl.goTo('form')">
			<md-icon md-font-set="material-icons" class="md-warn">add</md-icon>
			<md-tooltip md-direction="bottom" hide-sm hide-xs>{{ ::'views.actions.criarProjeto' | translate}}</md-tooltip>
		</md-button>
	</box-toolbar-buttons>
  <md-table-container>
    <table md-table class="condensed">
      <thead md-head>
        <tr md-row>
          <th md-column>{{ ::'attributes.task.title' | translate}}</th>
          <th md-column>{{ ::'attributes.task.status' | translate}}</th>
          <th md-column>{{ ::'attributes.task.priority' | translate}}</th>
          <th md-column>{{ ::'attributes.task.type' | translate}}</th>
          <th md-column class="md-text-center">{{ ::'views.fields.action' | translate}}</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="resource in tasksCtrl.resources" ng-if="tasksCtrl.resources.length > 0">
          <td md-cell>{{ ::resource.title}}</td>
          <td md-cell>{{ ::resource.status.name}}</td>
          <td md-cell>{{ ::resource.priority.name}}</td>
          <td md-cell>{{ ::resource.type.name}}</td>
          <td md-cell class="md-text-center">
            <md-button class="md-icon-button" ng-click="tasksCtrl.view(resource)">
              <md-icon md-font-set="material-icons" class="md-dark">remove_red_eye</md-icon>
              <md-tooltip md-direction="top" hide-sm hide-xs>Visualizar</md-tooltip>
            </md-button>
            <md-button ng-disabled="resource.project.done || resource.milestone.done" class="md-icon-button" ng-click="tasksCtrl.edit(resource)">
              <md-icon md-font-set="material-icons" ng-class="resource.project.done || resource.milestone.done ? '' : 'md-dark'">create</md-icon>
              <md-tooltip md-direction="top">{{::'views.actions.edit' | translate}}</md-tooltip>
            </md-button>
            <md-button ng-disabled="resource.project.done || resource.milestone.done" class="md-icon-button" ng-click="tasksCtrl.remove(resource)">
              <md-icon md-font-set="material-icons"
                class="md-warn">delete</md-icon>
              <md-tooltip md-direction="top">{{::'views.actions.remove' | translate}}</md-tooltip>
            </md-button>
          </td>
        </tr>
        <tr md-row ng-if="tasksCtrl.resources.length == 0">
          <td md-cell colspan="7">
            <div layout="row" layout-align="center center">{{::'messages.notFound' | translate}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
</box>
