<form name="taskForm" ng-submit="tasksCtrl.save()" novalidate>
	<box box-title="Nova Tarefa">
		<box-toolbar-buttons>
			<md-button class="md-icon-button" ng-click="tasksCtrl.goTo('list')">
				<md-icon md-font-set="material-icons" class="md-warn">view_list</md-icon>
				<md-tooltip md-direction="bottom" hide-sm hide-xs>{{ ::'views.actions.list' | translate}}</md-tooltip>
			</md-button>
		</box-toolbar-buttons>
    <div layout="row">
      <md-input-container class="md-block" flex>
        <input type="text" placeholder="Título" ng-model="tasksCtrl.resource.title" required>
      </md-input-container>
      <md-input-container class="md-block" flex>
        <input type="text" placeholder="Tempo Estimado (em horas)" ng-model="tasksCtrl.resource.estimated_time" required>
      </md-input-container>
		</div>
		<div layout="row">
      <md-input-container class="md-block" flex>
        <md-select ng-model="tasksCtrl.resource.status_id" placeholder="Status" required>
          <md-option ng-value="{{ status.id }}" ng-repeat="status in tasksCtrl.status">
            {{ ::status.name }}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block" flex>
        <md-select ng-model="tasksCtrl.resource.priority_id" placeholder="Prioridade" required>
          <md-option ng-value="{{ priority.id }}" ng-repeat="priority in tasksCtrl.priorities">
            {{ ::priority.name }}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block" flex>
        <md-select ng-model="tasksCtrl.resource.type_id" placeholder="Tipo" required>
          <md-option ng-value="{{ type.id }}" ng-repeat="type in tasksCtrl.types">
            {{ ::type.name }}
          </md-option>
        </md-select>
      </md-input-container>
		</div>
		<div layout="row">
      <md-input-container class="md-block" flex>
        <textarea required
          placeholder="Descrição"
          ng-model="tasksCtrl.resource.description"
          ng-attr-rows="{{row || '3'}}" >
        </textarea>
      </md-input-container>
    </div>
		<box-footer-buttons>
			<md-button class="md-primary md-raised" type="submit">{{::'views.actions.save' | translate}}</md-button>
			<md-button class="md-raised" ng-click="tasksCtrl.cleanForm(projectForm)">{{::'views.actions.clear' | translate}}</md-button>
		</box-footer-buttons>
	</box>
</form>

