<form ng-submit="especificacoesCtrl.save()">
  <box box-title="{{::'views.titles.register' | translate}}">
    <box-toolbar-buttons>
      <md-button class="md-icon-button" ng-click="especificacoesCtrl.goTo('list')">
        <md-icon md-font-set="material-icons" class="md-warn">view_list</md-icon>
        <md-tooltip md-direction="bottom">{{ ::'views.actions.list' | translate}}</md-tooltip>
      </md-button>
    </box-toolbar-buttons>
      <md-input-container class="md-block" flex>
        <input type="text" ng-change="especificacoesCtrl.resource.nome = especificacoesCtrl.resource.nome.toUpperCase()" placeholder="{{ ::'attributes.name' | translate}}" ng-model="especificacoesCtrl.resource.nome">
      </md-input-container>
    <box-footer-buttons>
      <md-button class="md-primary md-raised" type="submit">{{::'views.actions.save' | translate}}</md-button>
      <md-button class="md-raised" ng-click="especificacoesCtrl.cleanForm()">{{::'views.actions.clear' | translate}}</md-button>
    </box-footer-buttons>
  </box>
</form>
