<content-body>
  <div flex="100">
    <box box-title="{{::'views.actions.search' | translate}}">
      <md-content layout-padding md-whiteframe="1" class="bottom-4">
        <form class="condensed" name="dinamicQueryForm" ng-submit="dinamicQueryCtrl.addFilter(dinamicQueryForm)">
          <div layout="row">
            <md-input-container class="top-10 bottom-20" flex=33>
              <label>{{::'views.fields.queryDinamic.resource' | translate}}</label>
              <md-select
                 ng-model="dinamicQueryCtrl.queryFilters.model" required ng-disabled="dinamicQueryCtrl.addedFilters.length > 0"
                 ng-change="dinamicQueryCtrl.loadAttributes()">
                <md-option ng-repeat="model in dinamicQueryCtrl.models track by model.name" ng-value="model">
                  {{::model.name | tModel}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container flex>
              <label>{{::'views.fields.queryDinamic.attribute' | translate}}</label>
              <md-select
                ng-model="dinamicQueryCtrl.queryFilters.attribute" required
                ng-change="dinamicQueryCtrl.loadOperators()">
                <md-option ng-repeat="attribute in dinamicQueryCtrl.attributes track by attribute.name" ng-value="attribute">
                  {{::attribute.name | tAttr}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container flex>
              <label>{{::'views.fields.queryDinamic.operator' | translate}}</label>
              <md-select
                ng-model="dinamicQueryCtrl.queryFilters.operator" required>
                <md-option ng-repeat="operator in dinamicQueryCtrl.operators track by operator.value" ng-value="operator">
                  {{::operator.label}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container flex>
              <label>{{::'views.fields.queryDinamic.value' | translate}}</label>
              <input type="text" ng-model="dinamicQueryCtrl.queryFilters.value" required>
            </md-input-container>
          </div>
          <div layout="row" class="top-10">
            <md-input-container flex>
            </md-input-container>
            <md-button class="md-raised md-mini" ng-click="dinamicQueryCtrl.clear()">
              {{::'views.actions.clear' | translate}}
            </md-button>
            <md-button class="md-raised md-warn md-mini" ng-click="dinamicQueryCtrl.restart()">
              {{::'views.actions.restart' | translate}}
            </md-button>
            <md-button class="md-raised md-primary md-mini" type="submit">
              {{((dinamicQueryCtrl.index < 0) ? 'views.actions.add' : 'views.actions.update') | translate}}
            </md-button>
          </div>
        </form>
      </md-content>


      <md-content layout-padding md-whiteframe="1" class="bottom-4">
        <div layout="row">
          <h4 class="top-2 bottom-2">{{'views.fields.queryDinamic.filters' | translate}}</h4>
        </div>

        <md-table-container>
          <table md-table class="condensed">
            <thead md-head>
              <tr md-row>
                <th md-column>{{::'views.fields.queryDinamic.model' | translate}}</th>
                <th md-column>{{::'views.fields.queryDinamic.attribute' | translate}}</th>
                <th md-column>{{::'views.fields.queryDinamic.operator' | translate}}</th>
                <th md-column>{{::'views.fields.queryDinamic.value' | translate}}</th>
                <th md-column class="md-text-center">{{::'views.fields.actions' | translate}}</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-repeat="filter in dinamicQueryCtrl.addedFilters" ng-if="dinamicQueryCtrl.addedFilters.length > 0">
                <td md-cell>{{ ::filter.model.name | tModel}}</td>
                <td md-cell>{{ ::filter.attribute.name | tAttr }}</td>
                <td md-cell>{{ ::filter.operator.label}}</td>
                <td md-cell>{{ ::filter.value }}</td>
                <td md-cell class="md-text-center">
                  <md-button class="md-mini" ng-click="dinamicQueryCtrl.editFilter($index, filter)">
                    <md-icon md-font-set="material-icons">edit</md-icon>
                    <md-tooltip md-direction="bottom">{{::'views.actions.edit' | translate}}</md-tooltip>
                  </md-button>
                  <md-button class="md-mini" ng-click="dinamicQueryCtrl.removeFilter($index)">
                    <md-icon md-font-set="material-icons">delete</md-icon>
                    <md-tooltip md-direction="bottom">{{::'views.actions.remove' | translate}}</md-tooltip>
                  </md-button>
                </td>
              </tr>
              <tr md-row ng-if="dinamicQueryCtrl.addedFilters.length === 0">
                <td md-cell colspan="5">
                  <div layout="row" layout-align="center center">{{::'messages.queryDinamic.noFilter' | translate}}</div>
                </td>
              </tr>              
            </tbody>
          </table>
        </md-table-container>

        <div layout="row">
          <div flex>
          </div>
          <md-button class="md-raised md-primary md-mini" ng-click="dinamicQueryCtrl.runFilter()">
              {{::'views.actions.filter' | translate}}
          </md-button>
        </div>
      </md-content>        

      <md-content layout-padding md-whiteframe="1" class="bottom-4">
        <h4 class="top-2 bottom-2">{{'views.fields.queryDinamic.results' | translate}}</h4>

        <md-table-container ng-if="dinamicQueryCtrl.resources.length > 0">
          <table md-table class="condensed">
            <thead md-head>
              <tr md-row>
                <th md-column ng-repeat="key in dinamicQueryCtrl.keys">{{::key | tAttr}}</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-repeat="resource in dinamicQueryCtrl.resources">
                <td md-cell ng-repeat="key in dinamicQueryCtrl.keys">{{ ::resource[key] | auditValue:key}}</td>
              </tr>
            </tbody>
          </table>
        </md-table-container>

        <div layout="row" layout-padding layout-align="center center" ng-if="dinamicQueryCtrl.resources.length === 0">
          {{'messages.notFound' | translate}}
        </div>
      </md-content>

      <box-footer-buttons>
        <pr-pagination paginator="dinamicQueryCtrl.paginator"></pr-pagination>
      </box-footer-buttons>
    </box>
  </div>
</content-body>
