<box box-title="{{ ::'views.actions.milestonesList' | translate}}">
  <box-toolbar-buttons>
    <md-button ng-disabled="milestonesCtrl.resources[0] && milestonesCtrl.resources[0].project.done" class="md-icon-button" ng-click="milestonesCtrl.goTo('form')">
      <md-icon md-font-set="material-icons" class="md-warn">add</md-icon>
      <md-tooltip md-direction="bottom" hide-sm hide-xs>{{ ::'views.actions.add' | translate}}</md-tooltip>
    </md-button>
  </box-toolbar-buttons>
  <md-table-container>
    <table md-table class="condensed">
      <thead md-head>
        <tr md-row>
            <th md-column>{{ ::'attributes.milestone.title' | translate}}</th>
            <th md-column>{{ ::'attributes.milestone.description' | translate}}</th>
            <th md-column>{{ ::'attributes.milestone.date_start' | translate}}</th>
            <th md-column>{{ ::'attributes.milestone.date_end' | translate}}</th>
            <th md-column>{{ ::'attributes.milestone.estimated_time' | translate}}
              <md-icon md-font-set="material-icons" class="md-dark">info</md-icon>
              <md-tooltip class="tooltip-estimated-value" md-direction="botton">Estimativa baseada no tempo<br /> das tarefas da sprint</md-tooltip>
            </th>
            <th md-column>{{ ::'attributes.milestone.estimated_value' | translate}}
              <md-icon md-font-set="material-icons" class="md-dark">info</md-icon>
              <md-tooltip class="tooltip-estimated-value" md-direction="botton">Estimativa baseada no valor da hora<br /> definido para o projeto</md-tooltip>
            </th>
          <th md-column class="md-text-center">{{ ::'views.fields.action' | translate}}</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="resource in milestonesCtrl.resources" ng-if="milestonesCtrl.resources.length > 0">
          <td md-cell>{{ resource.title}}</td>
          <td md-cell>{{ resource.description}}</td>
          <td md-cell>{{ milestonesCtrl.formatDate(resource.date_begin) }}</td>
          <td md-cell>{{ milestonesCtrl.formatDate(resource.date_end) }}</td>
          <td md-cell ng-style="resource.color_estimated_time">{{ milestonesCtrl.estimatedTime(resource) + ' dias' }}</td>
          <td md-cell>{{ 'R$ ' + milestonesCtrl.estimatedPrice(resource) }}</td>
          <td md-cell class="md-text-center">
            <md-button class="md-icon-button" ng-click="milestonesCtrl.view(resource)">
              <md-icon md-font-set="material-icons" class="md-dark">remove_red_eye</md-icon>
              <md-tooltip md-direction="top" hide-sm hide-xs>Visualizar</md-tooltip>
            </md-button>
            <md-button ng-disabled="resource.done" class="md-icon-button" ng-click="milestonesCtrl.edit(resource)">
              <md-icon md-font-set="material-icons" ng-class="resource.done ? '' : 'md-dark'">create</md-icon>
              <md-tooltip md-direction="top">{{::'views.actions.edit' | translate}}</md-tooltip>
            </md-button>
            <md-button ng-disabled="resource.done" class="md-icon-button" ng-click="milestonesCtrl.finalize(resource)">
              <md-icon md-font-set="material-icons" ng-style="{color: resource.done ? '' : 'green' }">done_all</md-icon>
              <md-tooltip md-direction="top">{{::'views.actions.finalize' | translate}}</md-tooltip>
            </md-button>
            <md-button ng-disabled="resource.done" class="md-icon-button" ng-click="milestonesCtrl.remove(resource)">
              <md-icon md-font-set="material-icons" class="md-warn">delete</md-icon>
              <md-tooltip md-direction="top">{{::'views.actions.remove' | translate}}</md-tooltip>
            </md-button>
          </td>
        </tr>
        <tr md-row ng-if="milestonesCtrl.resources.length == 0">
          <td md-cell colspan="6">
            <div layout="row" layout-align="center center">{{::'messages.notFound' | translate}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-card-actions layout="row" layout-align="end center">
    <pr-pagination paginator="milestonesCtrl.paginator"></pr-pagination>
  </md-card-actions>
</box>
