<md-dialog aria-label="List dialog" flex="percentage">
  <form name="campusForm" ng-submit="campusCtrl.save()">
      <md-dialog-content>
        <box box-title="CADASTRAR CAMPUS">
          <box-toolbar-buttons>
            <md-button class="md-icon-button" ng-click="campusCtrl.closeDialog()">
              <md-icon md-font-set="material-icons" class="md-warn">close</md-icon>
             </md-button>
          </box-toolbar-buttons>
          <md-input-container class="md-block" flex="100">
            <label>Campus</label>
            <input required ng-change="campusCtrl.resource.nome = campusCtrl.resource.nome.toUpperCase()" type="text" name="nome" ng-model="campusCtrl.resource.nome">
          </md-input-container>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex="20">
              <label>CEP</label>
              <input required ui-br-cep-mask type="text" name="cep" ng-blur="campusCtrl.buscarCEP()" ng-model="campusCtrl.resource.cep">
              <div ng-messages="campusForm.cep.$error.cep" ng-messages="campusForm.cep.$error.cep">
                <div ng-message="cep">CEP inválido.</div>
              </div>
            </md-input-container>

            <md-input-container class="md-block" flex="60">
              <label>Endereço</label>
              <input required type="text" name="endereco" ng-model="campusCtrl.resource.endereco">
            </md-input-container>

            <md-input-container class="md-block" flex="20">
              <label>Bairro</label>
              <input required type="text" name="bairro" ng-model="campusCtrl.resource.bairro">
            </md-input-container>
          </div>

          <div layout-gt-sm="row">
            <md-input-container class="md-block md-input-has-placeholder" flex-gt-md>
              <label>Município</label>
              <md-select required ng-change="campusCtrl.onMunicipioChange()" ng-model="campusCtrl.resource.municipio" ng-model-options="{trackBy: '$value.id'}">
                <md-option ng-value="" ng-disabled="true"><em>Selecione...</em></md-option>
                <md-option ng-repeat="municipio in campusCtrl.municipios" ng-value="municipio">
                  {{ municipio.nome }}
                </md-option>
              </md-select>
            </md-input-container>

            <md-input-container class="md-block md-input-has-placeholder" flex-gt-md>
              <label>Nucleo Regional</label>
              <md-select ng-disabled="true" ng-model="campusCtrl.resource.nucleo_regional_id">
                <md-option ng-value="" ng-disabled="true"><em>Selecione...</em></md-option>
                <md-option ng-repeat="nucleoRegional in campusCtrl.nucleosRegionais" ng-value="{{ nucleoRegional.id }}">
                  {{ nucleoRegional.nome }}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
        </box>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button class="md-primary md-raised" type="submit">{{::'views.actions.save' | translate}}</md-button>
      <md-button class="md-raised" ng-click="campusCtrl.cleanForm()">{{::'views.actions.clear' | translate}}</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
