<md-dialog layout-padding aria-label="List dialog" flex="40">
    <md-dialog-content style="overflow: hidden">

        <h2>Configurações do horário:</h2>
        <md-input-container class="md-block md-input-has-placeholder" flex>
            <label>Dia da Semana</label>
            <md-select required ng-model="addHorarioVagaCtrl.diaDaSemana">
                <md-option ng-value="" ng-disabled="true"><em>Selecione...</em></md-option>
                <md-option ng-repeat="dia in addHorarioVagaCtrl.diasDaSemana" ng-value="{{ dia.id }}">
                    {{ dia.nome }}
                </md-option>
            </md-select>
        </md-input-container>
        <br />
        <md-input-container class="md-block md-input-has-placeholder" flex>
            <label>Quantidade de Vagas</label>
            <input type="number" onKeyPress="if (this.value.length==4) return false;" ng-model="addHorarioVagaCtrl.qtdVagas">
        </md-input-container>
        <box-footer-buttons>
            <md-button class="md-primary md-raised" type="button" ng-click="addHorarioVagaCtrl.escolher()">Ok</md-button>
        </box-footer-buttons>
    </md-dialog-content>
</md-dialog>