<md-dialog aria-label="List dialog" flex="50">
  <md-dialog-content>
    <fieldset style="border:0px;padding:0;" disabled>
      <box box-title="{{ taskInfoCtrl.task.title }}" style="width:100%;">
        <div layout="row" flex>
          <md-input-container class="md-block md-input-has-placeholder" flex>
            <textarea ng-model="taskInfoCtrl.task.description" placeholder="Descrição"></textarea>
          </md-input-container>
        </div>
        <div layout="row" flex>
          <md-input-container class="md-block md-input-has-placeholder" flex>
            <input type="text" ng-model="taskInfoCtrl.task.estimated_time" placeholder="Tempo Estimado">
          </md-input-container>
          <md-input-container class="md-block md-input-has-placeholder" flex>
              <input type="text" ng-model="taskInfoCtrl.task.priority.name" placeholder="Prioridade">
          </md-input-container>
        </div>
        <div layout="row" flex>
          <md-input-container class="md-block md-input-has-placeholder" flex>
            <input type="text" ng-model="taskInfoCtrl.task.type.name" placeholder="Tipo">
          </md-input-container>
          <md-input-container class="md-block md-input-has-placeholder" flex>
              <input type="text" ng-model="taskInfoCtrl.task.status.name" placeholder="Status">
          </md-input-container>
        </div>
      </fieldset>
      <div layout="row" layout-align="end end">
        <box-footer-buttons>
            <md-button class="md-primary md-raised" type="button" ng-click="taskInfoCtrl.closeDialog()">Ok</md-button>
        </box-footer-buttons>
      </div>
    </box>
  </md-dialog-content>
</md-dialog>
