<box box-title="{{ ::'views.actions.list' | translate}}">
  <box-toolbar-buttons>
    <md-button ng-if="estabelecimentosSaudeCtrl.accessPermission('estabelecimentosSaude', 'listarPendentes')" class="md-icon-button" ng-click="estabelecimentosSaudeCtrl.listarPendencia()">
      <md-icon md-font-set="material-icons" class="mmd-warn">assignmentt</md-icon>
      <md-tooltip md-direction="bottom">{{::'views.tooltips.estabelecimentoSaude.listaDeEstabeleicmentosDeSaudePendentes' | translate}}</md-tooltip>
    </md-button>
    <md-button ng-if="estabelecimentosSaudeCtrl.accessPermission('estabelecimentosSaude', 'store')" class="md-icon-button" ng-click="estabelecimentosSaudeCtrl.goTo('form')">
      <md-icon md-font-set="material-icons" class="md-warn">add</md-icon>
      <md-tooltip md-direction="bottom" hide-sm hide-xs>{{ ::'views.actions.add' | translate}}</md-tooltip>
    </md-button>
  </box-toolbar-buttons>
  <md-content layout-padding md-whiteframe="1" class="bottom-4">
    <form class="condensed" ng-submit="estabelecimentosSaudeCtrl.search(vm.paginator.currentPage)">
      <div layout="row">
        <md-input-container flex=40 flex-xs=75 class="top-20">
          <label>{{::'views.fields.estabelecimentoSaude.nome' | translate}}</label>
          <input type="text" ng-model="estabelecimentosSaudeCtrl.filters.nome">
        </md-input-container>
        <md-input-container class="top-20" flex="20" flex-xs=75>
          <label>{{::'attributes.type' | translate}}</label>
          <md-select placeholder="{{::'views.fields.estabelecimentoSaude.tipo' | translate}}" ng-model="estabelecimentosSaudeCtrl.filters.tipo_id">
            <md-option ng-value="" ><em>Todos</em></md-option>
            <md-option ng-repeat="tipo in estabelecimentosSaudeCtrl.tiposEstabelecimento" ng-value="{{ tipo.id }}">
              {{ tipo.nome }}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="top-20" flex="30" flex-xs=75>
          <label>{{::'attributes.type' | translate}}</label>
          <md-select placeholder="{{::'views.fields.estabelecimentoSaude.naturezaJuridica' | translate}}" ng-model="estabelecimentosSaudeCtrl.filters.natureza_juridica_id">
            <md-option ng-value="" ><em>Todos</em></md-option>
            <md-option ng-repeat="naturezaJuridica in estabelecimentosSaudeCtrl.naturezasJuridicas" ng-value="{{ naturezaJuridica.id }}">
              {{ naturezaJuridica.nome }}
            </md-option>
          </md-select>
        </md-input-container>
        <md-button id="btn-estabelecimentosSaudeCtrl-filter" class="md-raised md-primary md-mini" type="submit">
          {{::'views.actions.filter' | translate}}
        </md-button>
      </div>
    </form>
  </md-content>
  <md-table-container>
    <table md-table class="condensed">
      <thead md-head>
        <tr md-row>
          <th md-column>{{::'views.fields.estabelecimentoSaude.nome' | translate}}</th>
          <th md-column>{{::'views.fields.estabelecimentoSaude.tipo' | translate}}</th>
          <th md-column>{{::'views.fields.estabelecimentoSaude.naturezaJuridica' | translate}}</th>
          <th md-column class="md-text-center">{{ ::'views.fields.action' | translate}}</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="resource in estabelecimentosSaudeCtrl.resources" ng-if="estabelecimentosSaudeCtrl.resources.length > 0">
          <td md-cell>{{ ::resource.nome }}</td>
          <td md-cell>{{ ::resource.tipo_estabelecimento_saude.nome }}</td>
          <td md-cell>{{ ::resource.natureza_juridica }}</td>
          <td md-cell class="md-text-center">
            <md-button class="md-icon-button" ng-click="estabelecimentosSaudeCtrl.edit(resource)">
              <md-icon md-font-set="material-icons" class="md-dark">create</md-icon>
              <md-tooltip md-direction="top">{{::'views.actions.edit' | translate}}</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-if="auth.currentUser.hasPermission('estabelecimentosSaude', 'destroy')" ng-click="estabelecimentosSaudeCtrl.remove(resource)">
              <md-icon md-font-set="material-icons" class="md-warn">delete</md-icon>
              <md-tooltip md-direction="top">{{::'views.actions.remove' | translate}}</md-tooltip>
            </md-button>
          </td>
        </tr>
        <tr md-row ng-if="estabelecimentosSaudeCtrl.resources.length == 0">
          <td md-cell colspan="2">
            <div layout="row" layout-align="center center">{{::'messages.notFound' | translate}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-card-actions layout="row" layout-align="end center">
    <pr-pagination paginator="estabelecimentosSaudeCtrl.paginator"></pr-pagination>
  </md-card-actions>
</box>
