<md-list ng-cloak flex>
  <md-list-item class="_md-button-wrap md-with-secondary _md" ng-repeat="i in [1,2, 3, 4, 5] track by $index">
    <md-icon md-font-set="material-icons">book</md-icon>
    <p>Titulo</p>
    <p>Titulo</p>
    <p>Titulo</p>
    <md-button class="md-icon-button">
      <md-icon md-font-set="material-icons" class="md-primary">create</md-icon>
      <md-tooltip md-direction="top">{{::'views.actions.edit' | translate}}</md-tooltip>
    </md-button>
    <md-button class="md-icon-button" ng-click="iesCtrl.excluirArquivosIES('atestado_funcionamento_regular')">
      <md-icon md-font-set="material-icons" class="md-warn">delete</md-icon>
      <md-tooltip md-direction="top">{{::'views.actions.remove' | translate}}</md-tooltip>
    </md-button>
    <md-divider></md-divider>
  </md-list-item>
</md-list>