<box>
  <box-toolbar-buttons>
    <md-button class="md-icon-button" ng-click="campusCtrl.cadastrarCampus()">
      <md-icon md-font-set="material-icons" class="md-warn">add</md-icon>
      <md-tooltip md-direction="top">Cadastrar Campus</md-tooltip>
    </md-button>
  </box-toolbar-buttons>
</box>
<div layout="column" layout-gt-sm="row" layout-wrap>
  <div flex="50" flex-gt-sm="50" ng-repeat="campus in campusCtrl.resources">
    <md-card md-theme="default" md-theme-watch="" class="_md md-default-theme">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{ ::campus.nome }}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p><strong>Endereço -</strong> {{ ::campus.endereco}}, {{ ::campus.bairro}}, {{ ::campus.municipio.nome}}</p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
        <md-button class="md-icon-button" ng-click="campusCtrl.editarCampus(campus)">
          <md-icon md-font-set="material-icons" class="md-dark">create</md-icon>
          <md-tooltip md-direction="top">{{::'views.actions.edit' | translate}}</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="campusCtrl.remove(campus)">
          <md-icon md-font-set="material-icons" class="md-warn">delete</md-icon>
          <md-tooltip md-direction="top">{{::'views.actions.remove' | translate}}</md-tooltip>
        </md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>
