<box box-title="{{ ::'views.actions.list' | translate}}">
  <box-toolbar-buttons>
    <md-button class="md-icon-button" ng-click="iesCtrl.goTo('form')">
      <md-icon md-font-set="material-icons" class="md-warn">add</md-icon>
      <md-tooltip md-direction="bottom" hide-sm hide-xs>{{ ::'views.actions.add' | translate}}</md-tooltip>
    </md-button>
  </box-toolbar-buttons>
  <md-content layout-padding md-whiteframe="1" class="bottom-4">
    <!-- FORM DE FILTROS -->
    <form name="iesFiltrosForm" class="condensed" ng-submit="iesCtrl.search(vm.paginator.currentPage)">
      <div layout="row">
        <md-input-container flex class="top-20">
          <label>{{::'attributes.instituicoes_ensino.nome' | translate}}</label>
          <input type="text" ng-model="iesCtrl.filters.nome">
        </md-input-container>

        <md-input-container flex class="top-20">
          <label>{{::'attributes.instituicoes_ensino.razao_social' | translate}}</label>
          <input type="text" ng-model="iesCtrl.filters.razao_social">
        </md-input-container>

        <md-input-container flex class="top-20">
          <label>{{::'attributes.instituicoes_ensino.cnpj_mantenedora' | translate}}</label>
          <input type="text" name="cnpj_mantenedora" ui-br-cnpj-mask ng-model="iesCtrl.filters.cnpj_mantenedora">
          <div ng-messages="iesFiltrosForm.cnpj_mantenedora.$error">
            <div ng-message="cnpj">CNPJ inválido.</div>
          </div>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container flex class="top-20">
          <label>{{::'attributes.instituicoes_ensino.nome_reitor' | translate}}</label>
          <input type="text" ng-model="iesCtrl.filters.nome_reitor">
        </md-input-container>

        <md-input-container class="top-20" flex>
          <label>{{::'attributes.instituicoes_ensino.municipio_id' | translate}}</label>
          <md-select placeholder="{{::'attributes.instituicoes_ensino.municipio_id' | translate}}" ng-model="iesCtrl.filters.municipio_id">
            <md-option ng-value=""><em>Todos</em></md-option>
            <md-option ng-repeat="municipio in iesCtrl.municipios" ng-value="{{ municipio.id }}">
              {{ municipio.nome }}
            </md-option>
          </md-select>
        </md-input-container>
        <div class="top-20" layout flex layout-align="end center">
          <md-button  id="btn-iesCtrl-filter" class="md-raised md-primary" type="submit">
            {{::'views.actions.filter' | translate}}
          </md-button>
        </div>
      </div>
    </form>
  </md-content>
  <md-table-container>
    <table md-table class="condensed">
      <thead md-head>
        <tr md-row>
          <th md-column>{{ ::'attributes.instituicoes_ensino.nome' | translate}}</th>
          <th md-column>{{ ::'attributes.instituicoes_ensino.razao_social' | translate}}</th>
          <th md-column>{{ ::'attributes.instituicoes_ensino.cnpj_mantenedora' | translate}}</th>
          <th md-column>{{ ::'attributes.instituicoes_ensino.nome_reitor' | translate}}</th>
          <th md-column>{{ ::'attributes.instituicoes_ensino.municipio_id' | translate}}</th>
          <th md-column class="md-text-center">{{ ::'views.fields.action' | translate}}</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="resource in iesCtrl.resources" ng-if="iesCtrl.resources.length > 0">
          <td md-cell>{{ ::resource.nome}}</td>
          <td md-cell>{{ ::resource.razao_social}}</td>
          <td md-cell>{{ ::resource.cnpj_mantenedora | brCnpj}}</td>
          <td md-cell>{{ ::resource.nome_reitor}}</td>
          <td md-cell>{{ ::resource.municipio.nome}}</td>
          <td md-cell class="md-text-center">
            <md-button class="md-icon-button" ng-click="iesCtrl.edit(resource)">
              <md-icon md-font-set="material-icons" class="md-dark">create</md-icon>
              <md-tooltip md-direction="top">{{::'views.actions.edit' | translate}}</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="iesCtrl.remove(resource)">
              <md-icon md-font-set="material-icons" class="md-warn">delete</md-icon>
              <md-tooltip md-direction="top">{{::'views.actions.remove' | translate}}</md-tooltip>
            </md-button>
          </td>
        </tr>
        <tr md-row ng-if="iesCtrl.resources.length == 0">
          <td md-cell colspan="2">
            <div layout="row" layout-align="center center">{{::'messages.notFound' | translate}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-card-actions layout="row" layout-align="end center">
    <pr-pagination paginator="iesCtrl.paginator"></pr-pagination>
  </md-card-actions>
</box>