<h2 class="md-title">Instituição</h2>

<div layout="row">
  <md-input-container class="md-block" flex="80">
    <label>{{::'attributes.instituicoes_ensino.nome' | translate}}</label>
    <input required ng-disabled="iesCtrl.resource.id" type="text" name="nome" ng-model="iesCtrl.resource.nome">
  </md-input-container>
  <md-input-container class="md-block" flex="20">
    <label>{{::'attributes.instituicoes_ensino.sigla' | translate}}</label>
    <input required ng-disabled="iesCtrl.resource.validado" type="text" name="sigla" ng-model="iesCtrl.resource.sigla">
    <div ng-messages="iesForm.sigla.$error">
      <div ng-message="required">{{::'attributes.instituicoes_ensino.sigla' | translate}} deve ser preenchido.</div>
    </div>
  </md-input-container>
</div>

<div layout="row" ng-if="iesCtrl.resource.id">

  <md-input-container class="md-block" flex="50" >
    <label>{{::'attributes.instituicoes_ensino.razao_social' | translate}}</label>
    <input required ng-disabled="iesCtrl.resource.validado" type="text" name="razao_social" ng-model="iesCtrl.resource.razao_social">
    <div ng-messages="iesForm.razao_social.$error">
      <div ng-message="required">{{::'attributes.instituicoes_ensino.razao_social' | translate}} deve ser preenchido.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block" flex="20">
    <label>{{::'attributes.instituicoes_ensino.cnpj' | translate}}</label>
    <input required ng-disabled="iesCtrl.resource.validado" type="text" ui-br-cnpj-mask name="cnpj" ng-model="iesCtrl.resource.cnpj">
    <div ng-messages="iesForm.cnpj.$error">
      <div ng-message="required">{{::'attributes.instituicoes_ensino.cnpj' | translate}} deve ser preenchido.</div>
      <div ng-message="cnpj">CNPJ inválido.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block" flex="30">
    <label>{{::'attributes.instituicoes_ensino.natureza_juridica_id' | translate}}</label>
    <md-select ng-disabled="iesCtrl.resource.validado" name="natureza_juridica_id" ng-model="iesCtrl.resource.natureza_juridica_id">
      <md-option ng-value="" ng-disabled="true"><em>Selecione...</em></md-option>
      <md-option ng-repeat="nj in iesCtrl.naturezasJuridicas" ng-value="{{ nj.id }}">
        {{ nj.nome }}
      </md-option>
    </md-select>
    <div ng-messages="iesForm.natureza_juridica_id.$error">
      <div ng-message="required">{{::'attributes.instituicoes_ensino.natureza_juridica_id' | translate}} deve ser selecionada.</div>
    </div>
  </md-input-container>
</div>

<div layout="row" ng-if="iesCtrl.resource.id">
  <md-input-container class="md-block" flex="70">
    <label>{{::'attributes.instituicoes_ensino.mantenedora' | translate}}</label>
    <input required type="text" name="mantenedora" ng-model="iesCtrl.resource.mantenedora">
    <div ng-messages="iesForm.mantenedora.$error">
      <div ng-message="required">{{::'attributes.instituicoes_ensino.mantenedora' | translate}} deve ser preenchido.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block" flex="30">
    <label>{{::'attributes.instituicoes_ensino.cnpj_mantenedora' | translate}}</label>
    <input required type="text" ui-br-cnpj-mask name="cnpj_mantenedora" ng-model="iesCtrl.resource.cnpj_mantenedora">
    <div ng-messages="iesForm.cnpj_mantenedora.$error">
      <div ng-message="required">{{::'attributes.instituicoes_ensino.cnpj_mantenedora' | translate}} deve ser preenchido.</div>
      <div ng-message="cnpj">CNPJ inválido.</div>
    </div>
  </md-input-container>

</div>

<div layout="row" ng-if="iesCtrl.resource.id">
  <md-input-container class="md-block" flex="80">
    <label>{{::'attributes.instituicoes_ensino.endereco' | translate}}</label>
    <input required type="text" name="endereco" ng-model="iesCtrl.resource.endereco">
    <div ng-messages="iesForm.endereco.$error">
      <div ng-message="required">{{::'attributes.instituicoes_ensino.endereco' | translate}} deve ser preenchido.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block" flex="20">
    <label>{{::'attributes.instituicoes_ensino.numero' | translate}}</label>
    <input required type="text" name="numero" ng-model="iesCtrl.resource.numero">
    <div ng-messages="iesForm.numero.$error">
      <div ng-message="required">{{::'attributes.instituicoes_ensino.numero' | translate}} deve ser preenchido.</div>
    </div>
  </md-input-container>
</div>

<div layout="row" ng-if="iesCtrl.resource.id">
  <md-input-container class="md-block" flex>
    <label>{{::'attributes.instituicoes_ensino.complemento' | translate}}</label>
    <input type="text" name="complemento" ng-model="iesCtrl.resource.complemento">
    <div ng-messages="iesForm.complemento.$error">
      <div ng-message="required">{{::'attributes.instituicoes_ensino.complemento' | translate}} deve ser preenchido.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block" flex>
    <label>{{::'attributes.instituicoes_ensino.bairro' | translate}}</label>
    <input required type="text" name="bairro" ng-model="iesCtrl.resource.bairro">
    <div ng-messages="iesForm.bairro.$error">
      <div ng-message="required">{{::'attributes.instituicoes_ensino.bairro' | translate}} deve ser preenchido.</div>
    </div>
  </md-input-container>

</div>

<div layout="row" ng-if="iesCtrl.resource.id">
  <md-input-container class="md-block" >
    <label>{{::'attributes.instituicoes_ensino.cep' | translate}}</label>
    <input required ui-br-cep-mask type="text" name="cep" ng-model="iesCtrl.resource.cep">
    <div ng-messages="iesForm.cep.$error">
      <div ng-message="required">{{::'attributes.instituicoes_ensino.cep' | translate}} deve ser preenchido.</div>
      <div ng-message="cep">CEP inválido.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block md-input-has-placeholder" >
    <label>{{::'attributes.instituicoes_ensino.municipio_id' | translate}}</label>
    <md-select name="municipio" ng-change="iesCtrl.onMunicipioChange()" ng-model="iesCtrl.resource.municipio">
      <md-option ng-value="" ng-disabled="true"><em>Selecione...</em></md-option>
      <md-option ng-repeat="municipio in iesCtrl.municipios" ng-value="municipio">
        {{ municipio.nome }}
      </md-option>
    </md-select>
    <div ng-messages="iesForm.municipio.$error">
      <div ng-message="required">{{::'attributes.instituicoes_ensino.municipio_id' | translate}} deve ser selecionado.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block md-input-has-placeholder" >
    <label>{{::'attributes.instituicoes_ensino.nucleo_regional_id' | translate}}</label>
    <md-select ng-disabled="true" ng-model="iesCtrl.resource.nucleo_regional_id">
      <md-option ng-value="" ng-disabled="true"><em>Selecione...</em></md-option>
      <md-option ng-repeat="nucleoRegional in iesCtrl.nucleosRegionais" ng-value="{{ nucleoRegional.id }}">
        {{ nucleoRegional.nome }}
      </md-option>
    </md-select>
  </md-input-container>
</div>

<div layout="row" ng-if="iesCtrl.resource.id">
  <md-input-container class="md-block" >
    <label>{{::'attributes.instituicoes_ensino.telefone' | translate}}</label>
    <input required type="text" ui-br-phone-number name="telefone" ng-model="iesCtrl.resource.telefone">
    <div ng-messages="iesForm.telefone.$error">
      <div ng-message="required">{{::'attributes.instituicoes_ensino.telefone' | translate}} deve ser preenchido.</div>
      <div ng-message="brPhoneNumber">Telefone inválido.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block" >
    <label>{{::'attributes.instituicoes_ensino.telefone2' | translate}}</label>
    <input type="text" ui-br-phone-number name="telefone2" ng-model="iesCtrl.resource.telefone2">
    <div ng-messages="iesForm.telefone2.$error">
      <div ng-message="required">{{::'attributes.instituicoes_ensino.telefone' | translate}} deve ser preenchido.</div>
      <div ng-message="brPhoneNumber">Telefone inválido.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block" >
    <label>{{::'attributes.instituicoes_ensino.telefone3' | translate}}</label>
    <input type="text" ui-br-phone-number name="telefone3" ng-model="iesCtrl.resource.telefone3">
    <div ng-messages="iesForm.telefone3.$error">
      <div ng-message="brPhoneNumber">Telefone inválido.</div>
    </div>
  </md-input-container>
</div>

<div layout="row" ng-if="iesCtrl.resource.id">
  <md-input-container class="md-block" >
    <label>{{::'attributes.instituicoes_ensino.email' | translate}}</label>
    <input required type="email" name="email" ng-model="iesCtrl.resource.email">
    <div ng-messages="iesForm.email.$error">
      <div ng-message="required">{{::'attributes.instituicoes_ensino.email' | translate}} deve ser preenchido.</div>
      <div ng-message="email">E-mail inválido</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block" >
    <label>{{::'attributes.instituicoes_ensino.email2' | translate}}</label>
    <input type="email" name="email2" ng-model="iesCtrl.resource.email2">
    <div ng-messages="iesForm.email2.$error">
      <div ng-message="email">E-mail inválido</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block" >
    <label>{{::'attributes.instituicoes_ensino.email3' | translate}}</label>
    <input type="email" name="email3" ng-model="iesCtrl.resource.email3">
    <div ng-messages="iesForm.email3.$error">
      <div ng-message="email">E-mail inválido</div>
    </div>
  </md-input-container>
</div>

<h2 class="md-title" ng-if="iesCtrl.resource.id">Reitor</h2>

<div layout="row" ng-if="iesCtrl.resource.id">
  <md-input-container class="md-block" >
    <label>{{::'attributes.instituicoes_ensino.nome_reitor' | translate}}</label>
    <input required type="text" name="nome_reitor" ng-model="iesCtrl.resource.nome_reitor">
    <div ng-messages="iesForm.nome_reitor.$error">
      <div ng-message="required">{{::'attributes.instituicoes_ensino.nome_reitor' | translate}} deve ser preenchido.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block" >
    <label>{{::'attributes.instituicoes_ensino.cpf_reitor' | translate}}</label>
    <input required type="text" ui-br-cpf-mask name="cpf_reitor" ng-model="iesCtrl.resource.cpf_reitor">
    <div ng-messages="iesForm.cpf_reitor.$error">
      <div ng-message="required">{{::'attributes.instituicoes_ensino.cpf_reitor' | translate}} deve ser preenchido.</div>
      <div ng-message="cpf">CPF inválido.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block" >
    <label>{{::'attributes.instituicoes_ensino.rg_reitor' | translate}}</label>
    <input required type="text" name="rg_reitor" ng-model="iesCtrl.resource.rg_reitor">
    <div ng-messages="iesForm.rg_reitor.$error">
      <div ng-message="required">{{::'attributes.instituicoes_ensino.rg_reitor' | translate}} deve ser preenchido.</div>
    </div>
  </md-input-container>
</div>

<div layout="row" ng-if="iesCtrl.resource.id">
  <md-input-container class="md-block" >
    <label>{{::'attributes.instituicoes_ensino.email_reitor' | translate}}</label>
    <input required type="email" name="email_reitor" ng-model="iesCtrl.resource.email_reitor">
    <div ng-messages="iesForm.email_reitor.$error">
      <div ng-message="required">{{::'attributes.instituicoes_ensino.email_reitor' | translate}} deve ser preenchido.</div>
      <div ng-message="email">E-mail inválido</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block" >
    <label>{{::'attributes.instituicoes_ensino.telefone_reitor' | translate}}</label>
    <input required type="text" ui-br-phone-number name="telefone_reitor" ng-model="iesCtrl.resource.telefone_reitor">
    <div ng-messages="iesForm.telefone_reitor.$error">
      <div ng-message="required">{{::'attributes.instituicoes_ensino.telefone_reitor' | translate}} deve ser preenchido.</div>
      <div ng-message="brPhoneNumber">Telefone inválido.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block" >
    <label>{{::'attributes.instituicoes_ensino.telefone_reitor2' | translate}}</label>
    <input type="text" ui-br-phone-number name="telefone_reitor2" ng-model="iesCtrl.resource.telefone_reitor2">
    <div ng-messages="iesForm.telefone_reitor2.$error">
      <div ng-message="required">{{::'attributes.instituicoes_ensino.telefone_reitor2' | translate}} deve ser preenchido.</div>
      <div ng-message="brPhoneNumber">Telefone inválido.</div>
    </div>
  </md-input-container>
</div>

<h2 class="md-title" ng-if="iesCtrl.resource.id">Nota</h2>

<div layout="row" ng-if="iesCtrl.resource.id" layout-align="start center">
  <md-input-container class="md-block" >
    <label>{{::'attributes.instituicoes_ensino.igc' | translate}}</label>
    <input disabled="true" type="text" name="igc" ng-model="iesCtrl.resource.igc">
    <div ng-if="!iesCtrl.resource.igc">
      <span class="sgeo-warning">Nota ainda não importada.</span>
    </div>
  </md-input-container>
</div>

<div class="ies-anexos-container" ng-if="iesCtrl.resource.id">
  <h2 class="md-title" ng-if="iesCtrl.resource.id">Diário Oficial da União</h2>

  <div layout="row">
    <div layout="horizontal" flex>
      <div flex="90">
        <lf-ng-md-file-input name="diario_oficial_uniao" flex lf-files="iesCtrl.diarioOficialUniao" lf-browse-label="Escolher" lf-remove-label="Excluir"
          lf-filesize="5MB"></lf-ng-md-file-input>
        <div ng-messages="iesForm.diario_oficial_uniao.$error" style="color:red;">
          <div ng-message="filesize">Tamanho máximo para upload: 5MB.</div>
        </div>
      </div>
      <div flex="10">
        <md-button ng-disabled="iesCtrl.diarioOficialUniao.length === 0 || !iesForm.diario_oficial_uniao.$valid" class="md-primary md-raised"
          type="button" ng-click="iesCtrl.uploadArquivosIES('diario_oficial_uniao')">
          <md-icon md-font-set="material-icons" class="ng-scope material-icons">file_upload</md-icon>
          Upload
        </md-button>
      </div>
    </div>
  </div>

  <div layout="row" ng-if="iesCtrl.resource.diario_oficial_uniao" style="margin-bottom: 10px;">
    <md-list ng-cloak flex class="ng-scope">
      <md-list-item class="_md-button-wrap md-with-secondary ng-scope _md">
        <md-icon md-font-set="material-icons">insert_drive_file</md-icon>
        <p>{{ iesCtrl.resource.diario_oficial_uniao }}</p>
        <a href="/storage/instituicoes/{{iesCtrl.resource.id}}/{{iesCtrl.resource.diario_oficial_uniao}}" download>
          <md-button class="md-icon-button">
            <md-icon md-font-set="material-icons" class="md-primary">file_download</md-icon>
            <md-tooltip md-direction="top">{{::'views.actions.download' | translate}}</md-tooltip>
          </md-button>
        </a>
        <md-button class="md-icon-button" ng-click="iesCtrl.excluirArquivosIES('diario_oficial_uniao')">
          <md-icon md-font-set="material-icons" class="md-warn">delete</md-icon>
          <md-tooltip md-direction="top">{{::'views.actions.remove' | translate}}</md-tooltip>
        </md-button>
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
  </div>
</div>

<div class="ies-anexos-container" ng-if="iesCtrl.resource.id">
  <h2 class="md-title" ng-if="iesCtrl.resource.id">Alvará de Funcionamento</h2>

  <div layout="row">
    <div layout="horizontal" flex>
      <div flex="90">
        <lf-ng-md-file-input name="alvara_funcionamento" flex lf-files="iesCtrl.alvaraFuncionamento" lf-browse-label="Escolher" lf-remove-label="Excluir"
          lf-filesize="5MB"></lf-ng-md-file-input>
        <div ng-messages="iesForm.alvara_funcionamento.$error" style="color:red;">
          <div ng-message="filesize">Tamanho máximo para upload: 5MB.</div>
        </div>
      </div>
      <div flex="10">
        <md-button ng-disabled="iesCtrl.alvaraFuncionamento.length === 0 || !iesForm.alvara_funcionamento.$valid" class="md-primary md-raised"
          type="button" ng-click="iesCtrl.uploadArquivosIES('alvara_funcionamento')">
          <md-icon md-font-set="material-icons" class="ng-scope material-icons">file_upload</md-icon>
          Upload
        </md-button>
      </div>
    </div>
  </div>

  <div layout="row" ng-if="iesCtrl.resource.alvara_funcionamento" style="margin-bottom: 10px;">
    <md-list ng-cloak flex class="ng-scope">
      <md-list-item class="_md-button-wrap md-with-secondary ng-scope _md">
        <md-icon md-font-set="material-icons">insert_drive_file</md-icon>
        <p>{{ iesCtrl.resource.alvara_funcionamento }}</p>
        <a href="/storage/instituicoes/{{iesCtrl.resource.id}}/{{iesCtrl.resource.alvara_funcionamento}}" download>
          <md-button class="md-icon-button">
            <md-icon md-font-set="material-icons" class="md-primary">file_download</md-icon>
            <md-tooltip md-direction="top">{{::'views.actions.download' | translate}}</md-tooltip>
          </md-button>
        </a>
        <md-button class="md-icon-button" ng-click="iesCtrl.excluirArquivosIES('alvara_funcionamento')">
          <md-icon md-font-set="material-icons" class="md-warn">delete</md-icon>
          <md-tooltip md-direction="top">{{::'views.actions.remove' | translate}}</md-tooltip>
        </md-button>
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
  </div>
</div>

<div class="ies-anexos-container" ng-if="iesCtrl.resource.id">
  <h2 class="md-title" ng-if="iesCtrl.resource.id">Atestado de Funcionamento Regular</h2>
  <div layout="row">
    <div layout="horizontal" flex>
      <div flex="90">
        <lf-ng-md-file-input name="atestado_funcionamento_regular" flex lf-files="iesCtrl.atestadoFuncionamentoRegular" lf-browse-label="Escolher"
          lf-remove-label="Excluir" lf-filesize="5MB"></lf-ng-md-file-input>
        <div ng-messages="iesForm.atestado_funcionamento_regular.$error" style="color:red;">
          <div ng-message="filesize">Tamanho máximo para upload: 5MB.</div>
        </div>
      </div>
      <div flex="10">
        <md-button ng-disabled="iesCtrl.atestadoFuncionamentoRegular.length === 0 || !iesForm.atestado_funcionamento_regular.$valid"
          class="md-primary md-raised" type="button" ng-click="iesCtrl.uploadArquivosIES('atestado_funcionamento_regular')">
          <md-icon md-font-set="material-icons" class="ng-scope material-icons">file_upload</md-icon>
          Upload
        </md-button>
      </div>
    </div>
  </div>

  <div layout="row" ng-if="iesCtrl.resource.atestado_funcionamento_regular">
    <md-list ng-cloak flex class="ng-scope">
      <md-list-item class="_md-button-wrap md-with-secondary ng-scope _md">
        <md-icon md-font-set="material-icons">insert_drive_file</md-icon>
        <p>{{ iesCtrl.resource.atestado_funcionamento_regular }}</p>
        <a href="/storage/instituicoes/{{iesCtrl.resource.id}}/{{iesCtrl.resource.atestado_funcionamento_regular}}" download>
          <md-button class="md-icon-button">
            <md-icon md-font-set="material-icons" class="md-primary">file_download</md-icon>
            <md-tooltip md-direction="top">{{::'views.actions.download' | translate}}</md-tooltip>
          </md-button>
        </a>
        <md-button class="md-icon-button" ng-click="iesCtrl.excluirArquivosIES('atestado_funcionamento_regular')">
          <md-icon md-font-set="material-icons" class="md-warn">delete</md-icon>
          <md-tooltip md-direction="top">{{::'views.actions.remove' | translate}}</md-tooltip>
        </md-button>
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
  </div>
</div>

<!--<div layout="row">
  <md-button aria-label="button-label" ng-click="iesCtrl.verArquivos()" class="md-primary md-raised">
    Ver Arquivos
  </md-button>
</div>-->