<box ng-if="!vagasCtrl.estabelecimentoSaudeValidado" box-title="ATENÇÃO" toolbar-bg-color="default-warn">
  <box-toolbar-buttons>
      <i class="material-icons">block</i>&nbsp;&nbsp;
  </box-toolbar-buttons>
  {{'messages.vagas.validarEstabelecimento' | translate}}
</box>
<br>
<box ng-if="vagasCtrl.estabelecimentoSaudeValidado" box-title="{{ ::'views.actions.list' | translate}}">
  <box-toolbar-buttons>
    <md-button ng-if="vagasCtrl.accessPermission('vagas', 'gerarRelatorio')" class="md-icon-button" ng-click="vagasCtrl.abrirRelatorio()">
      <md-icon md-font-set="material-icons" class="mmd-warn">assignmentt</md-icon>
      <md-tooltip md-direction="bottom">{{::'views.tooltips.vagas.gerarRelatorioDeDisponibilidadeDeVagas' | translate}}</md-tooltip>
    </md-button>
    <md-button class="md-icon-button" ng-click="vagasCtrl.goTo('form')">
      <md-icon md-font-set="material-icons" class="md-warn">add</md-icon>
      <md-tooltip md-direction="bottom" hide-sm hide-xs>{{ ::'views.actions.add' | translate}}</md-tooltip>
    </md-button>
  </box-toolbar-buttons>
  <md-content layout-padding md-whiteframe="1" class="bottom-4">
    <form class="condensed" ng-submit="vagasCtrl.search(vm.paginator.currentPage)">
      <div layout="row">
        <md-input-container flex=40 flex-xs=75 class="top-20">
          <label>{{::'views.fields.vaga.estabelecimentoSaude' | translate}}</label>
          <input type="text" ng-model="vagasCtrl.queryFilters.estabelecimentoSaude">
        </md-input-container>
        <md-input-container class="top-20" flex="20" flex-xs=75>
          <label>{{::'views.fields.vaga.curso' | translate}}</label>
          <md-select placeholder="{{::'views.fields.vaga.curso' | translate}}" ng-model="vagasCtrl.queryFilters.curso_id">
            <md-option ng-value="" ><em>Todos</em></md-option>
            <md-option ng-repeat="curso in vagasCtrl.cursos" ng-value="{{ curso.id }}">
              {{ curso.nome }}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="top-20" flex="20" flex-xs=75>
          <label>{{::'views.fields.vaga.modalidade' | translate}}</label>
          <md-select placeholder="{{::'views.fields.vaga.modalidade' | translate}}" ng-model="vagasCtrl.queryFilters.modalidade_id">
            <md-option ng-value="" ><em>Todos</em></md-option>
            <md-option ng-repeat="modalidade in vagasCtrl.modalidades" ng-value="{{ modalidade.id }}">
              {{ modalidade.nome }}
            </md-option>
          </md-select>
        </md-input-container>
        <md-button id="btn-vagasCtrl-filter" class="md-raised md-primary md-mini" type="submit">
          {{::'views.actions.filter' | translate}}
        </md-button>
      </div>
      <div layout="row">
        <md-input-container class="top-20" flex="20" flex-xs=75>
          <label>{{::'views.fields.vaga.area' | translate}}</label>
          <md-select placeholder="{{::'views.fields.vaga.area' | translate}}" ng-model="vagasCtrl.queryFilters.area_id">
            <md-option ng-value="" ><em>Todos</em></md-option>
            <md-option ng-repeat="area in vagasCtrl.areas" ng-value="{{ area.id }}">
              {{ area.nome }}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="top-20" flex="20" flex-xs=75>
          <label>{{::'views.fields.vaga.setor' | translate}}</label>
          <md-select placeholder="{{::'views.fields.vaga.setor' | translate}}" ng-model="vagasCtrl.queryFilters.setor_id">
            <md-option ng-value="" ><em>Todos</em></md-option>
            <md-option ng-repeat="setor in vagasCtrl.setores" ng-value="{{ setor.id }}">
              {{ setor.nome }}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="top-20" flex="20" flex-xs=75>
          <label>{{::'views.fields.vaga.status' | translate}}</label>
          <md-select placeholder="{{::'views.fields.vaga.status' | translate}}" ng-model="vagasCtrl.queryFilters.status_id">
            <md-option ng-value="" ><em>Todos</em></md-option>
            <md-option ng-repeat="status in vagasCtrl.status" ng-value="{{ status.id }}">
              {{ status.nome }}
            </md-option>
          </md-select>
        </md-input-container>

      </div>
    </form>
  </md-content>
  <md-table-container>
    <table md-table class="condensed">
      <thead md-head>
        <tr md-row>
          <th md-column>{{ ::'views.fields.vaga.estabelecimentoSaude' | translate}}</th>
          <th md-column>{{ ::'views.fields.vaga.curso' | translate}}</th>
          <th md-column>{{ ::'views.fields.vaga.modalidade' | translate}}</th>
          <th md-column>{{ ::'views.fields.vaga.area' | translate}}</th>
          <th md-column>{{ ::'views.fields.vaga.setor' | translate}}</th>
          <th md-column>{{ ::'views.fields.vaga.status' | translate}}</th>
          <th md-column class="md-text-center">{{ ::'views.fields.action' | translate}}</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="resource in vagasCtrl.resources" ng-if="vagasCtrl.resources.length > 0">
          <td md-cell>{{ ::resource.estabelecimento_saude.nome}}</td>
          <td md-cell>{{ ::resource.curso.nome}}</td>
          <td md-cell>{{ ::resource.modalidade.nome}}</td>
          <td md-cell>{{ ::resource.area.nome}}</td>
          <td md-cell>{{ ::resource.setor.nome}}</td>
          <td md-cell>{{ ::resource.status.nome}}</td>
          <td md-cell class="md-text-center">
            <md-button class="md-icon-button" ng-click="vagasCtrl.edit(resource)" ng-if="vagasCtrl.accessPermission('vagas', 'approve')" ng-disabled="::resource.status.id !== vagasCtrl.STATUS.AGUARDANDO_APROVACAO">
              <md-icon md-font-set="material-icons" ng-if="::resource.status.id === vagasCtrl.STATUS.AGUARDANDO_APROVACAO" class="md-dark">check_circle</md-icon>
              <md-icon md-font-set="material-icons" ng-if="::resource.status.id !== vagasCtrl.STATUS.AGUARDANDO_APROVACAO" class="md-calm">check_circle</md-icon>
              <md-tooltip md-direction="top">{{::'views.actions.approval' | translate}}</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="vagasCtrl.edit(resource)" ng-disabled="(resource.status.id !== vagasCtrl.STATUS.PENDENTE && resource.status.id !== vagasCtrl.STATUS.REJEITADO) || !vagasCtrl.accessPermission('vagas', 'update')">
              <md-icon md-font-set="material-icons" ng-if="vagasCtrl.accessPermission('vagas', 'update') && (resource.status.id === vagasCtrl.STATUS.PENDENTE || resource.status.id === vagasCtrl.STATUS.REJEITADO)" class="md-dark">create</md-icon>
              <md-icon md-font-set="material-icons" ng-if="!vagasCtrl.accessPermission('vagas', 'update') || (resource.status.id !== vagasCtrl.STATUS.PENDENTE && resource.status.id !== vagasCtrl.STATUS.REJEITADO)" class="md-calm">create</md-icon>
              <md-tooltip md-direction="top">{{::'views.actions.edit' | translate}}</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="vagasCtrl.view(resource)">
              <md-icon md-font-set="material-icons" class="md-dark">info</md-icon>
              <md-tooltip md-direction="top">{{::'views.actions.view' | translate}}</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="vagasCtrl.remove(resource)" ng-if="vagasCtrl.accessPermission('vagas', 'destroy')">
              <md-icon md-font-set="material-icons"
                class="md-warn">delete</md-icon>
              <md-tooltip md-direction="top">{{::'views.actions.remove' | translate}}</md-tooltip>
            </md-button>
          </td>
        </tr>
        <tr md-row ng-if="vagasCtrl.resources.length == 0">
          <td md-cell colspan="7">
            <div layout="row" layout-align="center center">{{::'messages.notFound' | translate}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-card-actions layout="row" layout-align="end center">
    <pr-pagination paginator="vagasCtrl.paginator"></pr-pagination>
  </md-card-actions>
</box>
