<content-body>

  <md-card style="padding: 0px">
    <img ng-src="{{:: global.imagePath + '/logo-vertical.png' }}" style="max-width: 400px; margin: -30px 0px -60px 0px;" alt="logo">
    <form flex name="loginForm" ng-submit="loginCtrl.login()">
      <md-card-content>

        <div layout="row" flex layout-align="center center">
            <md-input-container flex class="bottom-5">
              <md-icon md-font-set="material-icons">email</md-icon>
              <label>{{::'email' | tAttr}}</label>
              <input type="email" ng-model="loginCtrl.credentials.email">
            </md-input-container>
        </div>
        <div layout="row" flex layout-align="center center">
          <md-input-container flex class="top-1 bottom-1">
            <md-icon md-font-set="material-icons">lock</md-icon>
            <label>{{::'password' | tAttr}}</label>
            <input required type="password" flex=99 ng-model="loginCtrl.credentials.password">
          </md-input-container>
        </div>
      </md-card-content>
      <md-card-actions layout="column" layout-align="start">
        <md-button ng-disabled="!loginForm.$valid" id="btn-loginCtrl-login" flex type="submit" class="md-raised md-primary">
          {{::'views.actions.in' | translate}}
        </md-button>
        <md-button flex class="md-primary" ng-click="loginCtrl.openDialogResetPass()">
          {{::'views.actions.signup' | translate}}
        </md-button>
        <md-button class="md-primary" flex ng-click="loginCtrl.openDialogResetPass()">
          {{::'views.fields.login.resetPassword' | translate}}
        </md-button>
      </md-card-actions>
    </form>
  </md-card>
