<form ng-submit="parametrossistemaCtrl.save()">
  <box box-title="{{::'views.titles.register' | translate}}">
    <box-toolbar-buttons>
      <md-button ng-if="parametrossistemaCtrl.accessPermission('parametrosSistema', 'index')" class="md-icon-button" ng-click="parametrossistemaCtrl.goTo('list')">
        <md-icon md-font-set="material-icons" class="md-warn">view_list</md-icon>
        <md-tooltip md-direction="bottom">{{ ::'views.actions.list' | translate}}</md-tooltip>
      </md-button>
    </box-toolbar-buttons>
      <div layout="row">
         <md-input-container class="md-block" flex="60">
            <input ng-model="parametrossistemaCtrl.resource.descricao" type="text" placeholder="{{ ::'attributes.descricao' | translate}}" required>
          </md-input-container>


        <md-input-container ng-if="parametrossistemaCtrl.mostrarCampoChave"  class="md-block" flex="20">
          <input ng-model="parametrossistemaCtrl.resource.chave" type="text" placeholder="{{ ::'attributes.chave' | translate}}" required>
        </md-input-container>

        <md-input-container class="md-block" flex="20">
          <input ng-model="parametrossistemaCtrl.resource.valor" type="text" placeholder="{{::'attributes.valor' | translate}}" required>
        </md-input-container>

      </div>

    <box-footer-buttons>
      <md-button class="md-primary md-raised" type="submit">{{::'views.actions.save' | translate}}</md-button>
      <md-button class="md-raised" ng-hide="parametrossistemaCtrl.resource.id" ng-click="parametrossistemaCtrl.cleanForm()">{{::'views.actions.clear' | translate}}</md-button>
    </box-footer-buttons>
  </box>
</form>
