<box box-title="{{ ::'views.actions.list' | translate}}">
  <box-toolbar-buttons>
    <md-button class="md-icon-button" ng-click="naturezasJuridicasCtrl.goTo('form')">
      <md-icon md-font-set="material-icons" class="md-warn">add</md-icon>
      <md-tooltip md-direction="bottom" hide-sm hide-xs>{{ ::'views.actions.add' | translate}}</md-tooltip>
    </md-button>
  </box-toolbar-buttons>
  <md-content layout-padding md-whiteframe="1" class="bottom-4">
    <md-radio-group layout="row" ng-model="naturezasJuridicasCtrl.filters.tipo_natureza_juridica" ng-change="naturezasJuridicasCtrl.search(vm.paginator.currentPage)">
      <md-radio-button flex="33" ng-value="all">Todas</md-radio-button>
      <md-radio-button flex="33" ng-value="0">Estabelecimento de Saúde</md-radio-button>
      <md-radio-button flex="33" ng-value="1">Instituição de Ensino Superior</md-radio-button>
    </md-radio-group>
  </md-content>
  <md-table-container>
    <table md-table class="condensed">
      <thead md-head>
        <tr md-row>
          <th md-column>{{ ::'attributes.name' | translate}}</th>
          <th md-column>Tipo</th>
          <th md-column class="md-text-center">{{ ::'views.fields.action' | translate}}</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="resource in naturezasJuridicasCtrl.resources" ng-if="naturezasJuridicasCtrl.resources.length > 0">
          <td md-cell>{{ ::resource.nome}}</td>
          <td md-cell ng-if="resource.tipo_natureza_juridica === 0">Estabelecimento de Saúde</td>
          <td md-cell ng-if="resource.tipo_natureza_juridica === 1">Instituição de Ensino Superior</td>
          <td md-cell class="md-text-center">
            <md-button class="md-icon-button" ng-click="naturezasJuridicasCtrl.edit(resource)">
              <md-icon md-font-set="material-icons"
                class="md-dark">create</md-icon>
              <md-tooltip md-direction="top">{{::'views.actions.edit' | translate}}</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="naturezasJuridicasCtrl.remove(resource)">
              <md-icon md-font-set="material-icons"
                class="md-warn">delete</md-icon>
              <md-tooltip md-direction="top">{{::'views.actions.remove' | translate}}</md-tooltip>
            </md-button>
          </td>
        </tr>
        <tr md-row ng-if="naturezasJuridicasCtrl.resources.length == 0">
          <td md-cell colspan="3">
            <div layout="row" layout-align="center center">{{::'messages.notFound' | translate}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-card-actions layout="row" layout-align="end center">
    <pr-pagination paginator="naturezasJuridicasCtrl.paginator"></pr-pagination>
  </md-card-actions>
</box>
