<form ng-submit="naturezasJuridicasCtrl.save()">
  <box box-title="{{::'views.titles.register' | translate}}">
    <box-toolbar-buttons>
      <md-button class="md-icon-button" ng-click="naturezasJuridicasCtrl.goTo('list')">
        <md-icon md-font-set="material-icons" class="md-warn">view_list</md-icon>
        <md-tooltip md-direction="bottom">{{ ::'views.actions.list' | translate}}</md-tooltip>
      </md-button>
    </box-toolbar-buttons>
    <md-input-container class="md-block" flex>
      <input type="text" placeholder="{{ ::'attributes.name' | translate}}"  ng-change="naturezasJuridicasCtrl.resource.nome = naturezasJuridicasCtrl.resource.nome.toUpperCase()" ng-model="naturezasJuridicasCtrl.resource.nome">
    </md-input-container>

    <h3 class="md-title">Tipo da Natureza Jurídica</h3>
    <md-radio-group layout="row" ng-model="naturezasJuridicasCtrl.resource.tipo_natureza_juridica">
      <md-radio-button flex="50" ng-value="0">Estabelecimento de Saúde</md-radio-button>
      <md-radio-button flex="50" style="font-size:10" ng-value="1">Instituição de Ensino Superior</md-radio-button>
    </md-radio-group>

    <box-footer-buttons>
      <md-button class="md-primary md-raised" type="submit">{{::'views.actions.save' | translate}}</md-button>
      <md-button class="md-raised" ng-click="naturezasJuridicasCtrl.cleanForm()">{{::'views.actions.clear' | translate}}</md-button>
    </box-footer-buttons>
  </box>
</form>
