<form ng-submit="usersCtrl.saveNewUser()">
  <box box-title="{{::'views.titles.register' | translate}}">
    <md-input-container class="md-block" flex>
      <label>{{::'attributes.name' | translate}}</label>
      <input type="text" ng-model="usersCtrl.resource.name">
    </md-input-container>
    <md-input-container class="md-block" flex>
      <label>{{::'attributes.email' | translate}}</label>
      <input type="email" ng-model="usersCtrl.resource.email">
    </md-input-container>
    <box-footer-buttons layout-align="end center">
      <md-button type="submit" id="btn-usersCtrl-save" class="md-primary md-raised">{{::'views.actions.signup' | translate}}</md-button>
      <md-button class="md-raised" ng-click="usersCtrl.hideDialog()">{{::'views.actions.cancel' | translate}}</md-button>
    </box-footer-buttons>
  </box>
</form>
